[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/themes/hugo-academic"]
	path = themes/themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
