pre, code {
    font-family: '$sta-font-mono',monospace;
    color: #1c86ee;
    background-color: #f9f2f4;
}

code {
    font-size: 87.5%;
    color: #1c86ee;
    word-break: break-word;
}

article, dive, h1 {
    line-height: 150%;
    padding_top: 50px;
}

.navbar-brand {font-size: 1em !important;}

.artice{
    h1{line-height: 150%;
    padding_top: 50px;}
}